[program:smart_checker]
command=__PROJECT_PATH__/start.sh
directory=__PROJECT_PATH__
user=__USER__
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=__PROJECT_PATH__/logs/smart_checker.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=30
startretries=3
startsecs=0
stopsignal=TERM
stopwaitsecs=30
killasgroup=true
stopasgroup=true
environment=PATH="__PATH__"